<%= link_to @hello, say_goodbye_path %>
<br />
<%= 1+2 %>
<br />
<%= 
  "cow" + "boy" 
  @par["hello"]
%>
<br />
<%= 1.hour.from_now %>

<ul>
<% for file in @files %>
<li><%= file %></li>
<% end %>
</ul>

<br />

<ul>
<% @menu.each do |omenu| %>
<li><a href="<%= omenu.url %>"><%= omenu.label %></a></li>
<% end %>
</ul>
