<%= link_to "Back to Article List", admin_articles_path %>
<h3 style="color:#ff0000"><%= flash[:notice] %></h3>
<h3><%= @article.title %></h3>
Rating : <%= @article.rating %>
<p><%= @article.body %></p>
<br /><br />
<h4>Comments</h4>
<div id="comments">
  <%= render :partial => "./articles/comments", :locals => {:comments => @comments}  %>
</div>
<br />
<p id="ajax-notice" style="color:#ff0000"></p>
<h4>Add New Comment</h4>
<% unless(current_user.nil?)%>
   <%= form_for @comment, :remote => true, :url => comments_path do |f| -%>
      <%= f.text_area :content %>
      <%= f.hidden_field :article_id, :value => @article.id %>
      <br />
      <%= submit_tag "comment" %>
  <% end -%>
<% end %>

<br />
<%= link_to "Back to Article List", admin_articles_path %>
