<h3 style="color:#ff0000"><%= flash[:notice] %></h3>
<%= link_to "Add New Article", new_admin_article_path %>
<br />
    <% if Article.count < 1 %>
      <p style='color:#ff0000'>No Article Found, Press Add New Article to Start</p>
    <% end %>
    <table><tr>
    <th>Author</th>
    <th>Title</th>
    <th>Body</th>
    <th>Rating</th>
    <th>Operation</th>
    </tr>
    <% Article.all.each do |article| %>
      <tr>
        <td><%= article.user.full_name %></td>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= article.rating %></td>
        <td><%= link_to "Details", {:controller => "articles", :action => "detail", :id => article.id} %>
            <%= link_to "Edit", {:controller => "articles", :action => "edit", :id => article.id}%>
            <%= link_to "Delete",admin_article_path(article.id), {:confirm => "Are you sure to delete this article ?", :method => :delete}%>
        </td>
      </tr>
    <% end %>
    </table>
<br />
