<h1>Login Page</h1> 
<h2 style="color:#ff0000"><%= flash[:notice] %></h2>
  <%= form_tag sessions_path do %> 
  <p> 
    <%= label_tag :username %><br /> 
    <%= text_field_tag :username, params[:username] %> 
  </p> 
  <p> 
    <%= label_tag :password %><br /> 
    <%= password_field_tag :password %> 
  </p> 
  <p><%= submit_tag :Login %></p> 
<% end %> 
<p>Don't have account ?<br />create one now: <%= link_to "Register Now", register_path %></p>
