<h1>Edit Article</h1>
<h3 style="color:#ff0000"><%= flash[:notice] %></h3>
<%= form_for @article do |f| %>  
  <%= f.hidden_field :id %>
  Title : <%= f.text_field :title %>
  <br />
  Body : <br /> <%= f.text_area :body %>
  <br />
  Rating : <%= f.text_field :rating %>
  <br />
  <%=f.submit%>
<% end %>
<br />
<%= link_to "Back to Article List", articles_index_path %>
