<h1>Add New Article</h1>
<h3 style="color:#ff0000"><%= flash[:notice] %></h3>
<%= form_for @article do |f| %>  
  Title :<br /> <%= f.text_field :title %>
  <br />
  Body :<br /> <%= f.text_area :body %>
  <br />
  <%=f.submit %>
<% end %>
<br />
<%= link_to "Back to Article List", articles_index_path %>
