 <h1>Sign Up</h1>
<%= form_for @user do |f| %> 
  <% if @user.errors.any? %> 
    <h2>Please check information you provided below</h2> 
    <div style="color:#ff0000">       
        <% for message in @user.errors.full_messages %> 
           <%= message %><br /> 
        <% end %>
        <%= flash[:error] %>
    </div> 
  <% elsif flash[:error] != nil %>
    <h2>Please check information you provided below</h2> 
    <div style="color:#ff0000">       
        <%= flash[:error] %>
    </div> 
  <% end %> 
  <p> 
    <%= f.label :first_name %><br /> 
    <%= f.text_field :first_name %> 
  </p> 
  <p> 
    <%= f.label :last_name %><br /> 
    <%= f.text_field :last_name %> 
  </p> 
  <p> 
    <%= f.label :email %><br /> 
    <%= f.text_field :email %> 
  </p> 
  <p> 
    <%= f.label :username %><br /> 
    <%= f.text_field :username %> 
  </p> 
  <p> 
    <%= f.label :password %><br /> 
    <%= f.password_field :password %> 
  </p> 
  <p> 
    <%= f.label :password_confirmation %><br /> 
    <%= f.password_field :password_confirmation %> 
  </p> 
  <% if @admin_exist < 1 %>
  <p> 
    <%= f.label :previlage %><br />
    <select name="user[previlage]">
      <option value="0">User</option>
      <option value="1">Admin</option>
    </select>
  </p> 
  <%end%>
  <%= recaptcha_tags %>  
  <p class="button"><%= f.submit %></p> 
<% end %> 
